.icon-Facebook:before {
    content: "\e900";
    color: #fff;
  }
  .icon-Instagram:before {
   
    content: "\e901";
    color: #fff;
  }
  .icon-Twitter:before {
    content: "\e902";
    color: #fff;
  }
  .icon-WhatsApp:before {
    content: "\e903";
    color: #000;
  }
  .icon-Youtube:before {
    content: "\e904";
    color: #18d406;
    font-size: xx-large;
    width: 200px;

  }
  