// =====================================================================================================================

html, body{
  max-width: $maxWidth;
  margin: 0 auto;
}
.header {
  max-width: $maxWidth;
  margin: 0 auto;
  height: 100%;


}

.header_container {
  height: 100%;
  display: flex;
  flex-direction: column;overflow: hidden;


  max-width: $maxWidthContainer;
  margin: 0 auto;

}

.circle {
  margin: 0 auto;
  height: 100%;
  width: 100%;

  position: relative;
  color: $mainColor;


  // .circle__item1

  &__item1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: rem(-83);
    margin: 0 auto;
    width: rem(300);
    height: rem(300);
    border: 1px solid $mainColor;
    border-radius: 50%;
    box-sizing: border-box;
  }

  // .circle__item2

  &__item2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: rem(-183);
    opacity: 0.8;
    margin: 0 auto;
    width: rem(500);
    height: rem(500);
    border: 1px solid $mainColor;
    border-radius: 50%;
    box-sizing: border-box;
  }

  // .circle__item3

  &__item3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: rem(-283);
    opacity: 0.6;
    margin: 0 auto;
    width: rem(700);
    height: rem(700);
    border: 1px solid $mainColor;
    border-radius: 50%;
    box-sizing: border-box;
  }

  // .circle__item4

  &__item4 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: rem(-383);
    opacity: 0.4;
    margin: 0 auto;
    width: rem(900);
    height: rem(900);
    border: 1px solid $mainColor;
    border-radius: 50%;
    box-sizing: border-box;
  }

  // .circle__item5

  &__item5 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: rem(-483);
    margin: 0 auto;
    opacity: 0.2;
    width: rem(1100);
    height: rem(1100);
    border: 1px solid $mainColor;
    border-radius: 50%;
    box-sizing: border-box;
  }
  @media(max-width: 1440px){
    &__item1 {
      top: rem(-114.73);
      width: rem(230.45);
      height: rem(230.45);
    }

    &__item2 {
      top: rem(-191.55);
      width: rem(384.09);
      height: rem(384.09);
    }
    &__item3 {
      top: rem(-268.36);
      width: rem(537.73);
      height: rem(537.73);
    }
    &__item4 {
      top: rem(-345.18);
      width: rem(691.36);
      height: rem(691.36);
    }
    &__item5 {
      top: rem(-422);
      width: rem(845);
      height: rem(845);
    }

  }

   @media(max-width: 768px){
    &__item1 {
      top: rem(-14.18);
      width: rem(142.36);
      height: rem(142.36);
    }

    &__item2 {
      top: rem(-61.64);
      width: rem(237.27);
      height: rem(237.27);
    }
    &__item3 {
      top: rem(-109.09);
      width: rem(332.18);
      height: rem(332.18);
    }
    &__item4 {
      top: rem(-156.55);
      width: rem(427.09);
      height: rem(427.09);
    }
    &__item5 {
      top: rem(-204);
      width: rem(522);
      height: rem(522);
    }

  }

  .circle {
    // .circle__image

    &__image {
      // .circlea
      position: relative;
      width: 100%;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);


      &_1 {
        position: absolute;
        width: prc(125, 1550);
        height: prc(125, 1550);
        left: rem(211);
        top: rem(82);
        background: url('/images/Ellipse/Ellipse_77.png');
      }

      // .circle__image_2

      &_2 {
        position: absolute;
        width: prc(222,1550);
        height:prc(222,600);
        left: rem(1178);
        top: rem(63);
        border-radius: 999px;
        background: url('/images/Ellipse/Ellipse 78.png');
      }

      // .circle__image_3

      &_3 {

        position: absolute;
        width: rem(222);
        height: rem(222);
        left: rem(-59);
        top: rem(462);
        border-radius: 100px;
        background: url('/images/Ellipse/Ellipse 79.png');
      }

      // .circle__image_4

      &_4 {
        position: absolute;
        width: rem(184);
        height: rem(184);
        left: rem(1152);
        top: rem(339);
        border-radius: 999px;
        background: url('/images/Ellipse/Ellipse 80.png');
      }

      // .circle__image_5

      &_5 {
        position: absolute;
        width: rem(222);
        height: rem(222);
        left: rem(1363);
        top: rem(470);
        border-radius: 1000px;

        background: url('/images/Ellipse/Ellipse 81.png');
      }

      // .circle__image_6

      &_6 {
        position: absolute;
        width: rem(222);
        height: rem(222);
        left: rem(-35);
        top: rem(174);
        border-radius: 1000px;

        background: url('/images/Ellipse/Ellipse 82.webp');
      }

      // .circle__image_7

      &_7 {
        position: absolute;
        width: rem(136);
        height: rem(136);
        left: rem(192);
        top: rem(367);
        background: url('/images/Ellipse/Ellipse 83.png');
      }

      // .circle__image_8

      &_8 {
        position: absolute;
        width: rem(136);
        height: rem(136);
        left: rem(1447);
        top: rem(249);
        border-radius: 999px;
        background: url('/images/Ellipse/Ellipse 84.png');
      }
       
     @media (max-width:768px){
      
      &_1 {
        left: prc(103, 768);
        top: rem(41);
        width: rem(72);
        height: rem(72);
      } 
      &_2 {
        width: rem(115);
        height: rem(115);
      }
      &_3 {
        width: rem(128);
        height: rem(128);
      }
      &_4 {
        width: rem(113);
        height: rem(113);
      }
      &_5 {
        width: rem(136);
        height: rem(136);
      }
      &_6 {
        width: rem(127);
        height: rem(127);
        border-radius: 999px;
      }
      &_7 {
        width: rem(78);
        height: rem(78);
      }
      &_8 {
        width: rem(84);
        height: rem(84);
      }
    }

    }
  }
}

// =====================================================================================================================

// Burgersdgfs


