.sectionTwo {
    width: 1447px;
    margin: 0 auto;
    max-height:540px ;

}

.main {
    margin: 0 auto;
    display: flex; 
    width: 1220px;    
    justify-items: center;
    gap: 20px;
    
}

.slider {


    // .slider_image

    &_images {}

    // .slider__title

    &__titles {
        text-align: start;
        font-family: $mainFont;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;

    }

    // .slider__text

    &__texts {
        text-align: start;
        font-family: $mainFont;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 100px;
    }
}

.locationImg {
    
    
}

@media (max-width:1440px) {
    .sectionTwo {
        width: 770px;
    }
    .main {
        margin: 0 auto;       
        width:768px ;
   
      }   
      .slider_images:nth-last-child(-n+2) {
        display: none;
      }
      

    }
   
    @media (max-width:768px) {
        .sectionTwo {
            width: 400px;
            margin-bottom: 80px;
        }
        .main {
           
            flex-wrap: wrap;
            margin: 0 auto;       
            width:390px ;
            gap: 10px;
       
          }   
          .slider_images:nth-last-child(-n+2) {
            display: none;
          }
          
          .slider__texts{
            margin-bottom: 10px;
          }
        }