@font-face {
	font-family: slick;
	font-display: swap;
	src: url("../fonts/slick.woff2") format("woff2"), url("../fonts/slick.woff") format("woff");
	font-weight: undefined;
	font-style: normal;
}
@font-face {
	font-family: Verdana Bold;
	font-display: swap;
	src: url("../fonts/Verdana Bold.woff2") format("woff2"), url("../fonts/Verdana Bold.woff") format("woff");
	font-weight: undefined;
	font-style: normal;
}
@font-face {
	font-family: verdanab;
	font-display: swap;
	src: url("../fonts/verdanab.woff2") format("woff2"), url("../fonts/verdanab.woff") format("woff");
	font-weight: undefined;
	font-style: normal;
}
@font-face {
	font-family: verdana_normal;
	font-display: swap;
	src: url("../fonts/verdana_normal.woff2") format("woff2"), url("../fonts/verdana_normal.woff") format("woff");
	font-weight: undefined;
	font-style: normal;
}
