$maxWidth: 1470px; // максимальная ширина страницы
$minWidth: 375; // минимальная ширина телефона
$maxWidthContainer: 1440; // ширина контейнера с учетом padding слева и справа
$mdWidthContainer: 1000; // ширина контейнера с учетом padding слева и справа
$smWidthContainer: 375; // ширина контейнера с учетом padding слева и справа
$containerWidth: 1440; // ширина контейнера из макета

$mainOffset: 15; // отступы безопасности для контейнера
$mainFont: 'Vendor'; // !указать здесь основное семейство шрифта
$mainWeight: 400; // !указать здесь основное начертание шрифта

$headerHeight: 100;
$footerHeight: 100;

$smheight: 757;
$mdheight: 813;
$xlheight:734;

$mainRadius: rem(10);

$headerColor:#F5F5F5;
$whiteColor: #fff;
$blackColor: #231C1A;
$grayColor: #F4F3EE;
$redColor: #ff4040;
$mainColor:#ECB02F;

$firstAccentColor: $blackColor;
$secondAccentColor: $redColor;

$fontFamily: $mainFont, sans-serif; // Семейство шрифта по умолчанию
$fontColor: $blackColor; // Цвет шрифта по умолчанию
$fontSize: rem(16); // Размер шрифта по умолчанию
$fontWeight: $mainWeight; // Жирность шрифта по умолчанию

$standartTrans: all 280ms ease-in-out 0ms;

$btnBoxShadow:  0px 2px 3px rgba(#000, 10%), 
                0px 8px 3px rgba(#000, 10%);

$lightBoxShadow:  0 0 2px 0 rgba(#000, 10%), 
                  0 0 4px 0 rgba(#000, 10%), 
                  0 0 8px 0 rgba(#000, 10%);

$hoverBoxShadow:  0 0 5px 0 rgba(#000, 10%), 
                  0 0 10px 0 rgba(#000, 10%), 
                  0 0 15px 0 rgba(#000, 10%);
$menuBoxShadow:   0 5px 20px rgba(0, 0, 0, 0.1);
$formBoxShadow:  0px 123px 49px rgba(0, 0, 0, 0.01),
                 0px 69px 42px rgba(0, 0, 0, 0.05),
                 0px 31px 31px rgba(0, 0, 0, 0.09),
                 0px 8px 17px rgba(0, 0, 0, 0.1),
                 0px 0px 0px rgba(0, 0, 0, 0.1); 
$fireBoxShadow:  0px 30px 12px rgba(45, 42, 29, 0.01),
                 0px 17px 10px rgba(45, 42, 29, 0.05),
                 0px 7px 7px rgba(45, 42, 29, 0.09),
                 0px 2px 4px rgba(45, 42, 29, 0.1),
                 0px 0px 0px rgba(45, 42, 29, 0.1);